@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  @apply bg-gradient-to-l from-black to-blue-950 overflow-x-hidden;
  
}

@layer utilities {
  .own-transform {
    transform: rotateY(-45deg);
  }
}